@* @model Persona *@
@{
    ViewData["Title"] = "Home Page";

    @* string ConvertirMayusculas(string valor)
    {
        return valor.ToUpper() + "Adición";
    }

    DateTime hoy = DateTime.Now;

    var nombres = new List<string>() { "Juan", "Facundo", "Tam"};
} *@
}

<div class="text-center container-header">
    @* <h1 class="display-4">@Model.Name.ToLower()</h1> *@
    @* <p style="font-size: 10px;">@hoy.ToString("dd/MM/yyyy hh:mm:ss tt")</p>
    <ul>@foreach (var nombre in nombres) {
        <li>@nombre</li>
        }
    </ul>
    <h1 class="display-4">@ConvertirMayusculas(Model.Name)</h1>
    <h1 class="display-4">@Model.Name</h1>
    @if(Model.Career == "FullStack Developer") {
        <h1>😊</h1>
    } else {
       <h1>😒</h1>
    } *@
    @* <h2>@Model.Career</h2> *@

    <h1>Juan Facundo Tam</h1>
    <h2>FullStack Developer</h2>
    <img id="foto" src="~/imagenes/foto.png" alt="Foto personal">
</div>

<div class="row justify-content-center text-center container-sobremi">
    <div class="col col-md-7 seccion-sobremi">
        <h1>Sobre mí</h1>
        <p>Hola! Soy Juan Facundo Tam, un apasionado desarrollador Fullstack especializado en JavaScript, Typescript, React, Angular, Node.js, Express, MongoDB, PostgreSQL, React Native, Firebase y otras tecnologías. Actualmente, desempeño el cargo de Full Stack Developer en Social Media Lab AI, donde contribuí con el desarrollo de aplicaciones
robustas para empleados y clientes. Entre mis cualidades, destaco por mi capacidad para resolver problemas de manera creativa, por mi compromiso y por mi gran interés en el trabajo en equipo. Disfruto enfrentando desafíos y
siempre estoy listo para aprender y crecer profesionalmente. ¡Voy siempre hacia adelante con determinación y con muchas ganas de aprender, crecer y progresar!</p>
    </div>

</div>
<div class="row justify-content-center text-center container-skills">
    <div class="col col-md-7 seccion-skills">
        <h1>Skills</h1>
        <p>JS</p>
        <p>TS</p>
        <p>C#</p>
    </div>

</div>
